@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;   
}
/* shared style  */
.display-flex{
    display: flex;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main section {
    margin-top: 130px;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.text-primary{
    color: #FF900E;
}

/* dark-2 */
.text-gray{
    color: #424242;
}
/* dark-3 */
.text-light-gray{
    color: #424242;
}

/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;

}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related content  */
.banner-content{
max-width: 850px;
margin: 0 auto;
text-align: center;
margin-bottom: 50px ;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;

}
.primary-btn{
    background-color: #FF900E;
    color: #ffff;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
}
.banner-img{
    width: 100%;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}

/* teams and feature related section  */
.teams{
    align-items: center;

}
.team-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.features{
font-size: 2.8rem;
font-weight: 800;

}
.of-our{
font-size: 2.8rem;
font-weight: 800;
}
.quick-list{
font-size: 2.8rem;
font-weight: 600;
}


/* responsive media query */
@media screen and (max-width:576px) {
    .navbar, .nav-links, .teams {
        flex-direction: column;
    }
    .banner-content{
        width: 100%;
    }

    .team-img{
        grid-template-columns: repeat(1 , 1fr);
    }
   .our-features{
    margin-left: 20px;
   }
  }

/* medium size device  */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
}
